//- head
//-   // <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
//-   // <link rel="stylesheet" type="text/css" href="style.css">
//-   link(rel='stylesheet', href='style.css')
//-   link(rel='stylesheet', href='css/bootstrap.min.css')
//-   //script(src='js\angular.min.js')
//-   //script(src='js\angular.js')
//-   title
//- .col-lg-12
//-   center
//-     input#uploadImage(type='file', name='myPhoto', onchange='PreviewImage();')
//-   button#btn(type='click') Go
//-   img#uploadPreview(style='width: auto; height: auto')
//- script(type='text/javascript').
//-   function PreviewImage() {
//-   var oFReader = new FileReader();
//-   oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
//-   oFReader.onload = function (oFREvent) {
//-   document.getElementById("uploadPreview").src = oFREvent.target.result;
//-   };
//-   };
//- script(type='text/javascript').
//-   $('#btn').onclick(function(){
//-   var formData = new FormData($(#uploadPreview)[0]);
//-   $.ajax({
//-   url: '/upload',
//-   type: 'POST',
//-   data: uploadPreview,
//-   async: false,
//-   success: function (data) {
//-   alert(data)
//-   },
//-   cache: false,
//-   contentType: false,
//-   processData: false
//-   });
//-   return false;
//-   });


doctype html
html(lang='en')
  head
    title Jade
    script.
      var app = angular.module('myApp', [])
      app.controller('MyController',
      function MyController($scope, $http) {
      //the image
      $scope.uploadme;
      $scope.uploadImage = function() {
      var fd = new FormData();
      var imgBlob = dataURItoBlob($scope.uploadme);
      fd.append('file', imgBlob);
      $http.post(
      'imageURL',
      fd, {
      transformRequest: angular.identity,
      headers: {
      'Content-Type': undefined
      }
      }
      )
      .success(function(response) {
      console.log('success', response);
      })
      .error(function(response) {
      console.log('error', response);
      });
      }
      //you need this function to convert the dataURI
      function dataURItoBlob(dataURI) {
      var binary = atob(dataURI.split(',')[1]);
      var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
      var array = [];
      for (var i = 0; i < binary.length; i++) {
      array.push(binary.charCodeAt(i));
      }
      return new Blob([new Uint8Array(array)], {
      type: mimeString
      });
      }
      });
      //your directive
      app.directive("fileread", [
      function() {
      return {
      scope: {
      fileread: "="
      },
      link: function(scope, element, attributes) {
      element.bind("change", function(changeEvent) {
      var reader = new FileReader();
      reader.onload = function(loadEvent) {
      scope.$apply(function() {
      scope.fileread = loadEvent.target.result;
      });
      }
      reader.readAsDataURL(changeEvent.target.files[0]);
      });
      }
      }
      }
      ]);
  body
    div(ng-app='myApp')
      div(ng-controller='MyController')
        input(type='file', fileread='uploadme')
        img(src='{{uploadme}}', width='100', height='50', alt='Image preview...')
        br
        p
          | Image dataURI:
          pre.
            \n{{uploadme}}            
        br
        button(ng-click='uploadImage()') upload image

